:root {
  --font-montserrat: Montserrat;
  --color-green: #295135;
  --color-brown: #9f6a38;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--font-montserrat);
}
/* ---------------------top-----------------------*/

.menu .container {
  display: flex;
  margin: 0 auto;
  /*max-width: 1920px;*/
  background: var(--color-green);
  height: 118.4px;
  color: white;
  align-items: center;
  justify-content: center;
}

.menu {
  background: var(--color-green);
}

.menu .logo {
  margin-top: 8px;
}

.menu .text-logo {
  margin-left: 12px;
  color: white;
  letter-spacing: 0.045em;
  font-weight: bold;
  white-space: nowrap;
}

.menu .soc-networks {
  display: flex;
  grid-gap :18px;
  margin-top: 4px;
  margin-left: 80px;
}

a {
  text-decoration: none;
  color: white;
  white-space: nowrap;
}

.menu .pages {
  display: flex;
  grid-gap :40px;
  margin-left: 80px;
  align-items: center;
}

.menu .location-icon {
  margin-left: 80px;
  margin-top: -35px;
}

.menu .location-text {
  margin-left: 8px;
  margin-top: -20px;
}

.menu .phone-icon {
  margin-left: 80px;
  margin-top: -35px;
}

.menu .phone-text {
  margin-left: 8px;
  margin-top: -20px;
}


/* ---------------------main-----------------------*/

.our_services {
  margin-top: 50px;
  font-size: 80px;
  font-style: italic;
  text-align: center;
  white-space: nowrap;
}

.main * {
  color: black;
}

.main .head1, .main .head2, .main .head3 {
  font-size: 24px;
  white-space: nowrap;
  margin-bottom: 20px;
}


.main .content .soc .soc-networks {
  display: flex;
  grid-gap: 18px;
  justify-content: center;
  margin-top: -4px;
}

.main .con-loc {
  display: flex;
  grid-gap : 8px;
}

.main .con-phone {
  margin-left: 2px;
  display: flex;
  grid-gap : 12px;
}

.main .con-mail {
  margin-left: 2px;
  display: flex;
  grid-gap : 12px;
}

.major {
  display: flex;
  justify-content: center;
  grid-gap: 270px;
}

.main .content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.main .content .contacts {
  margin-right: 300px;
  width: 265px;
}

.main .content .address {
  margin-right: 300px;
  width: 235px;
}

.main .ph-mail {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

/* ---------------------footer-----------------------*/

.footer .container {
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  background: var(--color-green);
  height: 230px;
  color: white;
  align-items: center;
  justify-content: center;
}

.footer {
  background: var(--color-green);
  margin-top: 70px;
}

.footer .logo {
  margin-top: 28px;
}

.footer .text-logo {
  margin-left: -140px;
  color: white;
  letter-spacing: 0.045em;
  font-weight: bold;
  white-space: nowrap;
}

.footer .logo::after {
  content: '';
  background-color: white;
  height: 2px;
  display: block;
  margin-top:20px;
  width: 223px;
}

.footer .soc-networks {
  display: flex;
  grid-gap :18px;
  margin-top: 34px;
  justify-content: center ;
}

.footer .chapters {
  display: flex;
  grid-gap : 12px;
  margin-left: 400px;
  flex-direction: column;
}

.footer .contacts {
  display: flex;
  grid-gap : 7.5px;
  margin-left: 200px;
  margin-top: 11px;
  flex-direction: column;
}

.footer .con-loc {
  display: flex;
  grid-gap : 13px;
}

.footer .con-phone {
  margin-left: 2px;
  display: flex;
  grid-gap : 12px;
}

.footer .con-mail {
  margin-left: 2px;
  display: flex;
  grid-gap : 12px;
}

.footer .full-logo {
  display: flex;
  align-items: center;
}

.footer .logo-and-soc {
  display: flex;
  flex-direction: column;
  margin-left: -93px;
  margin-bottom: 25px;
}

.footer .head-ch {
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 9px;
}

.footer .head-con {
  font-size: 24px;
  margin-bottom: 19px;
  margin-top: 3px;
}



button {
  background-color: var(--color-green);
  height: 90px;
  border: 0;
  padding: 0;
  font-size: 16px;
  font-family: var(--font-montserrat);
  white-space: nowrap;
  color: white;
}

button:hover {
  color: rgb(186, 155, 252);
  transition: 0.05s;
}

.button:hover {
  color: rgb(186, 155, 252);
  transition: 0.05s;
}


.backlight:hover {
    filter: invert(31%) sepia(46%) saturate(4307%) hue-rotate(213deg) brightness(108%) contrast(101%);
}
.backlight:hover + .logo-text {
    filter: invert(31%) sepia(46%) saturate(4307%) hue-rotate(213deg) brightness(108%) contrast(101%);
}

.logo-text:hover {
    filter: invert(31%) sepia(46%) saturate(4307%) hue-rotate(213deg) brightness(108%) contrast(101%);
}

.first:hover + .second {
    filter: invert(31%) sepia(46%) saturate(4307%) hue-rotate(213deg) brightness(108%) contrast(101%);
}

.but:hover {
  color: rgb(227, 181, 137);
  transition: 0.1s;
}

.f:hover + .s {
  color: rgb(227, 181, 137);
  transition: 0.1s;
}

.bl:hover {
  filter: invert(80%) sepia(13%) saturate(1071%) hue-rotate(345deg) brightness(95%) contrast(86%);
  transition: 0.3s;
}

@media screen and (max-width: 1470px) {
  body {
    font-size: 1px;
  }
